/* Variables */
:root{
    --primario:rgb(93, 63, 141);
    --secudario:rgba(251, 64, 64, 0.582);
    --blanco:#ffffff;
    --negro:#000000;
}
/* Globales */

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;   
}
body{
    margin:0;
    padding:0;
    font-size: 16px;
    line-height: 2;
    font-family:'Poppins', sans-serif;
}
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: var(--blanco);
}
img{
    max-width: 100%;
}


/* Utilidades */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
.color-primario{
    color: var(--primario);
}

/* header */
.bg-header{
    z-index: 10;
    background-color: var(--primario);
    position: fixed;
    top: 0;
    width: 100%;
}
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.end-header{
    display: none;
}
.logo{
    margin: 0 0 0 4rem;
}
.logo h1{
    color: var(--blanco);
    font-size: 2.5rem;
}
.navegacion-principal{
   
    display: flex;
    align-items: center;
}

.navegacion-principal__items{
    padding: 0 1rem;
    font-size: 1.8rem;
}
.hover:hover{
    transition: .5s;
    color:rgb(241, 200, 122);
    
}
.utilidades{
    
    display: flex;
    align-items: center;
}


.carrito i{
    display: inline-block;
    font-size: 2rem;
}
.login {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--secudario);
    border-radius: 1rem;
    height: 4rem;
    margin: 0 4rem 0 1rem;
}

.login i{
    margin: 0 10px;
    font-size: 2.5rem;
}


@media (max-width:760px) {
    .margin{
        margin: 1rem;
    }
    .end-header{
        display: inline-block;
        display: flex;
        align-items: center;
    }
    .navegacion-principal{
        transition:.3s;
        width:100%;
        position: absolute;
        flex-direction: column;
        top:50px;
        left: -1000vh;
        background-color:rgb(97, 73, 136) ;
    }
    
    .barra{
        cursor: pointer;
        margin: 0 4rem 0 2rem; 
        font-size: 3rem;
        color: var(--blanco);
    }
    
    .login2{
        background-color: var(--secudario);
        border-radius: 1rem;
        height: 4rem;
    }
    
    .login{
        display: none;
    }
    .carrito{
        display: none;
    }
}
/* despues de JS */
.abrir{
    
    left:0;
}
/* Imagen Principal */
.imagen-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40rem;
    background-image: url(../asests/img/imagen-principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40px;   
}
.imagen-principal h1{
   
    color: var(--blanco);
    margin: 0 0 0 8rem;
    padding: 0;
}
.imagen-principal p{
    width: max-content;
    margin: 0 0 0 8rem;
    padding: 0 1rem;
    border-radius: 1rem;
    background-color: var(--primario);
    color: var(--blanco);
}


@media (max-width: 720px) {
    .imagen-principal{
        height: 30rem;
    }
    .imagen-principal h1{
        font-size: 20px;
        margin:0 0 0 3rem;
    }
    .imagen-principal p{
        font-size: 15px;
        margin:0 0 5rem 3rem;
        padding: 0 1rem; 
    }
}
/* main */
.main{
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    background-color: var(--blanco);
    max-width: 120rem;
    width: 90%;
    margin: -10rem auto;
    padding:2rem;
    border-radius: 1rem;
}

.img-info img{
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
}
.info{
    width: 80%;
}
.info p{
    text-align: justify;
}
.etiquetas{
    text-align: start;
}
.etiqueta{
   
    display: inline-block;
    border-radius: .5rem;
    padding:0 1rem ;
    margin:0 0 1rem 0 ;
    color: var(--blanco);
    background-color: var(--secudario);
}
.regalo{
    font-size: 2rem;
    
}
.end-info{
    display: grid;
    grid-template-columns:2fr 3fr;
}
.end-info a{
    display: inline-block;
    margin: auto 0;
    font-size: 1.7rem;
    color: var(--secudario);
}
.end-info button{
    border: none;
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem;
    width: 100%;
    height: 4rem;
    
}
.redes-sociales{   
    text-align: end;

}
.redes{
    display: inline-block;
    padding-left: 4.5rem;
    color: var(--primario);
    font-size: 3.4rem;
}
@media (max-width: 720px) {
    .main{
        grid-template-rows: auto;
        grid-template-columns: auto;
        gap:0;
    }
    .info{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .info h2{
        text-align: center;
        line-height: 1.5;
    }
    .info p{
        margin: 1.6rem 0 0 0;
        text-align: justify;
    }
    .end-info{
        grid-template-rows: auto;
        grid-template-columns: auto;
    }
    .etiquetas{
        text-align: center;
    }
    .end-info a{
    margin: 1rem 0; 
    }
    .redes-sociales{
        text-align: center;
    }
   
    
}
